<h1>Add a new student to {{_class.className}} class</h1>
<form class="form-horizontal" name="form" id="form" [formGroup]="form" (submit)="register(form.value)">
    <fieldset>
        <legend>Fill in details of the student</legend>
        <!-- Surname -->
        <div class="form-group form-row">
            <label class="col-md-2 control-label" for="surname">Surname</label>
            <div class="col-md-4" [ngClass]="form.controls.surname?.errors ? 'has-error' : 'has-success'">
                <input type="text" class="form-control" formControlName="surname" id="surname" placeholder="Surname">
            </div>
            <span [ngClass]="form.controls.surname.errors?.maxlength ? 'text-danger' : ''" *ngIf="form.controls.surname.errors?.maxlength">The maximum length is {{form.controls.surname.errors.maxlength.requiredLength}} characters: Current is {{form.controls.surname.errors.maxlength.actualLength}}</span>
            <span [ngClass]="form.controls.surname.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.surname.errors?.required">Surname is required</span>
            <span [ngClass]="form.controls.surname.errors?.minlength ? 'text-danger' : ''" *ngIf="form.controls.surname.errors?.minlength">The minimum length is {{form.controls.surname.errors.minlength.requiredLength}} characters: Current is {{form.controls.surname.errors.minlength.actualLength}}</span>
        </div>

        <!-- Other names -->
        <div class="form-group form-row">
            <label class="col-md-2 control-label" for="otherNames">Other Names</label>
            <div class="col-md-4" [ngClass]="form.controls.otherNames?.errors ? 'has-error' : 'has-success'">
                <input type="text" class="form-control" formControlName="otherNames" id="otherNames" placeholder="Other Names">
            </div>
            <span [ngClass]="form.controls.otherNames.errors?.maxlength ? 'text-danger' : ''" *ngIf="form.controls.otherNames.errors?.maxlength">The maximum length is {{form.controls.otherNames.errors.maxlength.requiredLength}} characters: Current is {{form.controls.otherNames.errors.maxlength.actualLength}}</span>
            <span [ngClass]="form.controls.otherNames.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.otherNames.errors?.required">Other Names is required</span>
            <span [ngClass]="form.controls.otherNames.errors?.minlength ? 'text-danger' : ''" *ngIf="form.controls.otherNames.errors?.minlength">The minimum length is {{form.controls.otherNames.errors.minlength.requiredLength}} characters: Current is {{form.controls.otherNames.errors.minlength.actualLength}}</span>
        </div>

        <!-- Date of birth -->
        <div class="form-group form-row">
            <label class="col-md-2 control-label" for="dateOfBirth">Date of Birth</label>
            <div class="col-md-4" [ngClass]="form.controls.dateOfBirth?.errors ? 'has-error' : 'has-success'">
                <input type="date" class="form-control" formControlName="dateOfBirth" id="dateOfBirth" placeholder="Date of Birth">
            </div>
            <span [ngClass]="form.controls.dateOfBirth.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.dateOfBirth.errors?.required">Date of Birth is required</span>
        </div>

        <!-- Gender -->
        <div class="form-group form-row">
            <label class="col-md-2 control-label" for="gender">Gender</label>
            <div class="col-md-4" [ngClass]="form.controls.gender?.errors ? 'has-error' : 'has-success'">
                <select class="form-control" formControlName="gender" id="gender">
                    <option *ngFor="let g of ['Female','Male']" [ngValue]="g">{{g}}</option>
                </select>
            </div>
            <span [ngClass]="form.controls.gender.errors?.maxlength ? 'text-danger' : ''" *ngIf="form.controls.gender.errors?.maxlength">The maximum length is {{form.controls.gender.errors.maxlength.requiredLength}} characters: Current is {{form.controls.gender.errors.maxlength.actualLength}}</span>
            <span [ngClass]="form.controls.gender.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.gender.errors?.required">Select gender</span>
            <span [ngClass]="form.controls.gender.errors?.minlength ? 'text-danger' : ''" *ngIf="form.controls.gender.errors?.minlength">The minimum length is {{form.controls.gender.errors.minlength.requiredLength}} characters: Current is {{form.controls.gender.errors.minlength.actualLength}}</span>
        </div>

        <!-- Level -->
        <div class="form-group form-row">
            <label class="col-md-2 control-label" for="level">Level</label>
            <div class="col-md-4" [ngClass]="form.controls.level?.errors ? 'has-error' : 'has-success'">
                <select class="form-control" formControlName="level" id="level">
                    <option *ngFor="let l of ['Foundation','Standard','Proficiency']" [ngValue]="l">{{l}}</option>
                </select>
            </div>
            <span [ngClass]="form.controls.level.errors?.maxlength ? 'text-danger' : ''" *ngIf="form.controls.level.errors?.maxlength">The maximum length is {{form.controls.level.errors.maxlength.requiredLength}} characters: Current is {{form.controls.level.errors.maxlength.actualLength}}</span>
            <span [ngClass]="form.controls.level.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.level.errors?.required">Level is required</span>
            <span [ngClass]="form.controls.level.errors?.minlength ? 'text-danger' : ''" *ngIf="form.controls.level.errors?.minlength">The minimum length is {{form.controls.level.errors.minlength.requiredLength}} characters: Current is {{form.controls.level.errors.minlength.actualLength}}</span>
        </div>

        <div class="offset-md-2">
            <button [disabled]="form.invalid || processing" type="submit" [ngClass]="form.invalid ? 'btn-danger' : 'btn-success'" class="btn"><span class="glyphicon glyphicon-new-window"> Add</span></button>
        </div>
        <div class="row">
            <span [hidden]="!dismiss" class="alert alert-dismissible" [ngClass]="error ? 'alert-warning' : 'alert-info'">{{message}} <button class="btn btn-primary btn-sm" (click)="this.dismiss=!this.dismiss">Dismiss</button></span>
        </div>
    </fieldset>
</form>

<h2>List</h2>
<span class="text-info">Total number of students {{students.length}}</span>
<div class="btn-group">
    <button class="btn btn-outline-primary" (click)="print()">Print</button>
</div>
<table class="table table-striped table-light" id="print">
    <caption>List of students in {{_class.programName}} {{_class.addYear}}. Total {{students.length}}</caption>
    <thead class="thead-light">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Unique ID</th>
            <th>Level</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of students">
            <td>{{s.surname}} {{s.otherNames}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.uniqueID}}</td>
            <td>{{s.level}}</td>
            <td><button class="btn" [ngClass]="s.isActive ? 'btn-outline-success' : 'btn-outline-danger'" (click)="change(s)">{{s.isActive ? 'Active' : 'Inactive'}}</button></td>
        </tr>
    </tbody>
</table>