<h1>Prepare a bill for students</h1>
<form name="termForm" [formGroup]="termForm">
    <fieldset>
        <legend>Select a year</legend>
        <div class="form-group form-row">
            <label class="col-form-label col-md-2" for="year">Year Group</label>
            <div class="col-md-5">
                <select name="year" id="year" formControlName="year"  class="form-control">
                    <option *ngFor="let y of years" [ngValue]="y">{{y}} Year Group</option>
                </select>
            </div>
        </div>
    </fieldset>
</form>
<div class="alert alert-info">Zero bill items will be removed on save</div>
<form [hidden]="termForm.invalid" class="" *ngFor="let f of classBills;let ix=index" [formGroup]="f" name="form{{ix}}">
    <fieldset>
        <legend></legend>
        <div class="form-group form-row" [ngClass]="f.valid ? 'border-warning' : 'border-warning'">
            <label hidden for="item_id{{ix}}" class="col-form-label col-sm-1">Item ID</label>
            <div class="col-sm-1">
                <input hidden type="number" id="item_id{{ix}}" class="form-control" formControlName="billItemsID" />
            </div>
            <label for="item_name{{ix}}" class="col-form-label col-sm-1">Item</label>
            <div class="col-sm-3">
                <input type="text" id="item_name{{ix}}" class="form-control" formControlName="billItem" />
            </div>
            <label for="item_amount{{ix}}" class="col-form-label col-sm-1">Amount</label>
            <div class="col-sm-3">
                <input type="number" id="item_amount{{ix}}" class="form-control" formControlName="amount" />
            </div>
            <div class="row offset-sm-7">
                <span [ngClass]="f.controls.amount.errors?.max ? 'text-danger' : ''" *ngIf="f.controls.amount.errors?.max">The maximum  {{f.controls.amount.errors.max.max}}</span>
                <span [ngClass]="f.controls.amount.errors?.required ? 'text-danger' : ''" *ngIf="f.controls.amount.errors?.required">Amount is required</span>
                <span [ngClass]="f.controls.amount.errors?.min ? 'text-danger' : ''" *ngIf="f.controls.amount.errors?.min">The minimum is {{f.controls.amount.errors.min.min}}</span>
            </div>
        </div>
    </fieldset>

</form>
<div class="btn-group offset-sm-1" [hidden]="!hasError()">
    <button class="btn" (click)="save()" [ngClass]="hasError() ? 'btn-success' : 'btn-danger'" [disabled]="!hasError() ||processing" title="Save bill for class">Save bill</button>
</div>