<title>Departments manager</title>
<h1 class="h1 text-md-center">Manage Departments in the School</h1>
<form id="form" name="form" [formGroup]="form" (submit)="add(form.value)" class="form-horizontal">
    <fieldset>
        <legend class="h2">Add a new class</legend>
        <div class="form-group">
            <label class="col-md-2 control-label" for="className">Department Name</label>
            <div class="col-md-6" [ngClass]="form.controls.className?.errors ? 'has-error' : 'has-success'">
                <input type="text"
                       class="form-control"
                       id="className"
                       title="the name of the department you wish to add"
                       formControlName="className"
                       placeholder="department name">
            </div>
            <span [ngClass]="form.controls.className.errors?.maxlength ? 'text-danger' : ''" *ngIf="form.controls.className.errors?.maxlength">The maximum length is {{form.controls.className.errors.maxlength.requiredLength}} characters: Current is {{form.controls.className.errors.maxlength.actualLength}}</span>
            <span [ngClass]="form.controls.className.errors?.required ? 'text-danger' : ''" *ngIf="form.controls.className.errors?.required">Department name is required</span>
            <span [ngClass]="form.controls.className.errors?.minlength ? 'text-danger' : ''" *ngIf="form.controls.className.errors?.minlength">The minimum length is {{form.controls.className.errors.minlength.requiredLength}} characters: Current is {{form.controls.className.errors.minlength.actualLength}}</span>
            <span [ngClass]="form.controls.className.errors?.pattern ? 'text-danger' : ''" *ngIf="form.controls.className.errors?.pattern">Phone number can only contain numbers</span>
        </div>
        <div class="col-md-offset-3">
            <button [disabled]="form.invalid || processing" type="submit" [ngClass]="form.invalid ? 'btn-danger' : 'btn-success'" class="btn"><span class="glyphicon glyphicon-plus"> Add Department</span></button>
        </div>
    </fieldset>
</form>
<div class="row">
    <span [hidden]="!dismiss" class="alert" [ngClass]="error ? 'alert-warning' : 'alert-info'">{{message}} <button class="btn btn-secondary btn-sm" (click)="this.dismiss=!this.dismiss">Dismiss</button></span>
</div>
<h2>List of Departments</h2>
<table class="table table-hover table-condensed table-striped">
    <thead>
        <tr>
            <th>Department</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Print</th>
            <th>View Bill</th>
            <th>Add Bill</th>
            <th>Students</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of classes">
            <td>{{c.className}}</td>
            <td>
                <button class="btn" (click)="change(c)" [ngClass]="c.isActive ? 'btn-outline-success' : 'btn-outline-warning'">Deactivate</button>
            </td>
            <td>
                <button class="btn btn-outline-primary" [routerLink]="['/edit-class',c.classesID]">Edit</button>
            </td>
            <td>
                <button (click)="delete(c)" class="btn btn-outline-danger">Delete</button>
            </td>
            <td>
                <button class="btn btn-outline-secondary" [routerLink]="['/print-bill']">Print Bill</button>
            </td>
            <td>
                <button class="btn btn-link" title="Prepare new bill for {{c.className}}" [routerLink]="['/class-bills',c.classesID]">New Bill</button>
            </td>
            <td>
                <button class="btn btn-link" title="View the bill prepared for {{c.className}}" [routerLink]="['/view-class-bill',c.classesID]">View Bill</button>
            </td>
            <td>
                <button class="btn btn-link" [routerLink]="['/bill-student',c.classesID]" title="View and manage students in the class">Bill student</button>
            </td>
        </tr>
    </tbody>
</table>