<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="/dist/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Dashboard
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/bill-items']">Bill Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/classes']">Departments</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Payments<span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/student-payments']"><span class="glyphicon glyphicon-suitcase"></span>Student Payments</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/add-item']">Procurement Items</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/reports-home/monthly']">Reports</a>
            </li>
        </ul>
    </div>
    <!-- <bs-search></bs-search>-->
</nav>