<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">
        <img src="/dist/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="">
        Dashboard
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="accMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Accounts
                </a>
                <div class="dropdown-menu" aria-labelledby="accMenuLink">
                    <a class="dropdown-item" [routerLink]="['/add-revenue']">Manage Accounts</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" [routerLink]="['/spend-revenue']">Expend</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/classes']">Departments</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="billMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bills
                </a>
                <div class="dropdown-menu" aria-labelledby="billMenuLink">
                    <a class="dropdown-item" [routerLink]="['/class-bills']">Prepare Bill</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"  [routerLink]="['/bill-items']">Billing Items</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Payments
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['/student-payments']"><span class="glyphicon glyphicon-suitcase"></span>Student Payments</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/reports-home/monthly']">Reports</a>
            </li>
        </ul>
    </div>
</nav>